@model List<bitcms.Entity.ScoreEventInfo>

<div class="row">
    <div class="left main_nav">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="glyphicon glyphicon-th-list"></i>
                会员筛选
            </div>
            <table id="list-table" class="table table-hover">
            </table>
        </div>
    </div>
    <div class="right main-context">
        <div class="table-responsive">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="glyphicon glyphicon-edit"></i>
                    积分操作
                </div>
                <div class="panel-body">
                    <form method="post" id="form-submit" action="#" class="form-horizontal" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="UserName" class="col-xs-2 control-label">
                                会员
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="UserName" placeholder="请选择会员" />
                                <input type="text" name="UserId" id="UserId" required="required" style="display: none;" />
                            </div>
                            <label for="Phone" class="col-xs-2 control-label">
                                电话
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="Mobile" placeholder="会员绑定手机号" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BirthDay" class="col-xs-2 control-label">
                                生日
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="BirthDay" placeholder="会员生日" />
                            </div>
                            <label for="Location" class="col-xs-2 control-label">
                                地址
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="Location" placeholder="会员地址" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-2 control-label">
                                会员状态
                            </label>
                            <div class="col-xs-4 checkbox">
                                <label>
                                    <input type="checkbox" value="1" id="LockUser" disabled="disabled" />
                                    锁定会员</label>
                                <label>
                                    <input type="checkbox" checked="checked" value="1" id="VerifyMember" disabled="disabled" />
                                    审核会员</label>
                            </div>
                            <label for="Phone" class="col-xs-2 control-label">
                                性别
                            </label>
                            <div class="col-xs-4">
                                <div class="radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" value="0" checked="checked" disabled="disabled" />
                                        保密
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" value="1" disabled="disabled" />
                                        男
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="Gender" value="2" disabled="disabled" />
                                        女
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="BirthDay" class="col-xs-2 control-label">
                                会员角色
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="RoleName" placeholder="会员角色" />

                            </div>
                            <label for="Phone" class="col-xs-2 control-label">
                                积分
                            </label>
                            <div class="col-xs-4">
                                <input type="text" class="form-control" readonly="readonly" id="UserScore" placeholder="现有积分" />

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="EventName" class="col-xs-2 control-label">
                                事件
                            <i class="text-danger">*</i>
                            </label>
                            <div class="col-xs-10">
                                <select class="form-control" required="required" name="EventCode" id="EventCode" placeholder="事件">
                                    <option value="">=请选择事件=</option>
                                    @foreach (var info in Model)
                                    { 
                                        <option value="@info.EventCode" data-score="@info.Score">@info.EventName (@if (info.Direction == 0)
                                                                                         {<text>奖</text> }
                                                                                         else
                                                                                         {
                                                                                             {<text>扣</text> }
                                                                                         })</option>
                                    }
                                </select>
                            </div>

                        </div>

                        <div class="form-group">
                            <label for="Score" class="col-xs-2 control-label">
                                积分
                            <i class="text-danger">*</i>
                            </label>
                            <div class="col-xs-10">
                                <input type="number"  class="form-control" required="required" name="Score" id="Score" placeholder="积分" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Reason" class="col-xs-2 control-label">
                                原因
                            </label>
                            <div class="col-xs-10">
                                <textarea class="form-control" name="Reason" id="Reason" placeholder="原因"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-offset-2 col-xs-10">
                                <button type="submit" id="submit" class="btn btn-primary">提交</button>
                                <button type="reset" class="btn">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{

    <script>
        $(function () {
            $("#EventCode").on("change", function () {
                var score = parseInt($("option:selected", this).attr("data-score"));
                if (score > 0) {
                    $("#Score").val(score);
                } else {
                    $("#Score").val("");
                }
            });

            //管理员
            var table = $("#list-table");
            table = initBootstrapTable(table, {
                url: "/admin/scorehandle/loadjson",
                columns: [
                    {
                        field: 'state',
                        checkbox: true,
                        align: 'center',
                        valign: 'middle'
                    },
                        {
                            title: '会员',
                            field: 'UserName',
                            valign: 'middle'
                        },
                        {
                            title: '角色',
                            field: 'RoleName',
                            valign: 'middle'
                        }
                ],
                onCheck: function (row) {
                    $.getJSON("/admin/scorehandle/loadmodel/", { id: row.UserId }, function (result) {
                        if (result.error == 0 && result.data) {
                            $("#Mobile").val(result.data.UserCode);
                        }
                    });

                    $("#UserName").val(row.UserName);
                    $("#UserId").val(row.UserId);
                    $("#LockUser").prop("checked", row.LockUser == 1);
                    $("#VerifyMember").prop("checked", row.VerifyMember == 1);
                    $(":radio[name=Gender][value=" + row.Gender + "]").prop("checked", true);

                    $("#Location").val(row.City + row.Location);
                    $("#BirthDay").val(row.BirthDay);
                    $("#UserScore").val(row.Score);
                    $("#RoleName").val(row.RoleName);
                    $("#EventCode").val("");
                    $("#Score").val("");
                    $("#Reason").val(row.Reason);
                }
            });

            //验证表单
            formValidate("#form-submit", {
                ignore: "",
                submitHandler: function (form) {
                    setSubmit($("#submit", form));
                    $.post("/admin/scorehandle/update/", $(form).serialize(), function (result) {
                        setSubmit($("#submit", form));
                        ajaxResult(result);
                    }, "JSON");
                    return false;
                }
            });
        });
    </script>
}