@{
    Layout = null;
    }
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>网站已经关闭 - @ViewBag.config.SiteName</title>
    <link href="~/css/bitcms_global.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="container body-content">
        @ViewBag.config.ClosedMessage
    </div>
</body>
</html>