@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/css/bitcms_public.css" type="text/css">
</head>
<body>
    <div class="error">
        <div class="error_msg">
            @ViewBag.Message
        </div>
    </div>
</body>
</html>
