<?xml version="1.0"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Item>
    <LookFor>/
/(\d+)</LookFor>
    <SendTo>cid=$1=0</SendTo>
    <Template>index.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>person</LookFor>
    <Template>person.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>list/(\d+)/(\d+)/(\d+)</LookFor>
    <SendTo>cid=$1=0
uid=$2=0
page=$3=1</SendTo>
    <Template>list.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>/user/(\d+)
/user/(\d+)/(\d+)</LookFor>
    <SendTo>uid=$1=0
page=$2=1
cid=0</SendTo>
    <Template>index.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>info_(\d+)</LookFor>
    <SendTo>did=$1</SendTo>
    <Template>info.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>login</LookFor>
    <Template>login.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>register</LookFor>
    <Template>register.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>person/info</LookFor>
    <Template>person-info.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>person/scorelog
person/scorelog/(\d+)</LookFor>
    <SendTo>page=$1=1</SendTo>
    <Template>person-score.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>person/follow
person/follow/(\d+)</LookFor>
    <SendTo>page=$1=1</SendTo>
    <Template>person-follow.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>/person/news
/person/news/(\d+)</LookFor>
    <SendTo>page=$1=1</SendTo>
    <Template>person-news.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>person/news/add
person/news/edit/(\d+)</LookFor>
    <SendTo>did=$1=0</SendTo>
    <Template>person-newsedit.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>reviewlist/(\d+)
reviewlist/(\d+)/(\d+)</LookFor>
    <SendTo>did=$1
page=$2=1</SendTo>
    <Template>reviewlist.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
  <Item>
    <LookFor>replylist/(\d+)/(\d+)</LookFor>
    <SendTo>rid=$1
page=$2=1</SendTo>
    <Template>replylist.cshtml</Template>
    <CacheTime>0</CacheTime>
  </Item>
</Root>