<?xml version="1.0"?>
<Root xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SiteDomain>http://localhost:10000/</SiteDomain>
  <SitePath>/</SitePath>
  <SiteName>bitcms内容管理系统</SiteName>
  <TimeZone>480</TimeZone>
  <Phone>0371-8888888</Phone>
  <Icp>&lt;a href="http://www.miitbeian.gov.cn/" target="_blank"&gt;豫ICP备17023782号&lt;/a&gt;</Icp>
  <StatisticsCode>&lt;script&gt;var _hmt=_hmt||[];(function(){var hm=document.createElement("script");hm.src="https://hm.baidu.com/hm.js?b53ec3aa25c9017d0408913143f94e4b";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(hm,s)})();&lt;/script&gt;</StatisticsCode>
  <Closed>false</Closed>
  <ClosedMessage>正在更新....</ClosedMessage>
  <SeoTitle>二次开发，都是这么简单</SeoTitle>
  <SeoKeywords>bitcms,cms,开源,net,asp.net,内容管理</SeoKeywords>
  <SeoDescription>bitcms开源内容管理系统，二次开发都是这么简单！</SeoDescription>
  <EnabledRegisterVerifykey>true</EnabledRegisterVerifykey>
  <EnabledDetailVerifykey>true</EnabledDetailVerifykey>
  <EnabledReviewVerifykey>true</EnabledReviewVerifykey>
  <SiteCode>f37f3917a54a48359d0fca4c8a99cee3</SiteCode>
  <EnabledWap>true</EnabledWap>
  <NameSpace>bitcms.Web.Controllers
bitcms.web</NameSpace>
  <Home>main</Home>
  <VerifyPost>cmsaction/getloginstate
cmsaction/login
cmsaction/registeraccount
cmsaction/register
cmsaction/loginaccount
cmsaction/checkaccount
cmsaction/checkusername
cmsaction/getpassword
cmsaction/loginaccount
cmsaction/updatedetailhitsnum</VerifyPost>
  <DuplicationUserName>true</DuplicationUserName>
  <EnabledLoginVerifykey>2</EnabledLoginVerifykey>
  <VerifykeyBackGround>verifykeybg.jpg</VerifykeyBackGround>
  <DebugLevel>3</DebugLevel>
  <VerifyUserDetail>false</VerifyUserDetail>
  <VerifyReview>false</VerifyReview>
  <ReviewIntervalTime>10</ReviewIntervalTime>
  <RepeatAgree>true</RepeatAgree>
  <AgreeIntervalTime>10</AgreeIntervalTime>
</Root>