<?xml version="1.0"?>
<Root xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <AttachExtension>.jpe|.jpeg|.jpg|.png|.gif|.bmp|.swf|.zip|.rar|.flv|.mp4|.mp3|.wma|.doc|.docx|.xls|.xlsx|.ppt|.pptx</AttachExtension>
  <MultimediaExtension>.jpe|.jpeg|.jpg|.png|.gif|.bmp|.swf|.flv|.mp4|.mp3|.wma</MultimediaExtension>
  <AttachPath>upload/</AttachPath>
  <AutoDownImage>true</AutoDownImage>
  <AttachMaxSize>10485760</AttachMaxSize>
  <WatermarkType>1</WatermarkType>
  <WatermarkPic>watermark.png</WatermarkPic>
  <WatermarkStatus>7</WatermarkStatus>
  <WatermarkTransparency>10</WatermarkTransparency>
  <WatermarkText>bitcms.net</WatermarkText>
  <WatermarkFont>arial</WatermarkFont>
  <WatermarkFontSize>12</WatermarkFontSize>
  <AttachImgMaxHeight>768</AttachImgMaxHeight>
  <AttachImgMaxWidth>1280</AttachImgMaxWidth>
</Root>